@page "/"

@using System.Timers

<PageTitle>Animals Matching Game</PageTitle>

<style>
    .container {
        width: 400px;
    }

    button {
        width: 100px;
        height: 100px;
        font-size: 50px;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }
</style>

<div class="container">
    <div class="row">
        @for (var animalNumber = 0; animalNumber < shuffledAnimals.Count; animalNumber++)
        {
            var animal = shuffledAnimals[animalNumber];
            var uniqueDescription = $"Button #{animalNumber}";
            <div class="col-3">
                <button @onclick="@(async () => ButtonClick(animal, uniqueDescription))"
                        type="button" class="btn btn-outline-dark">
                    @animal
                </button>
            </div>
        }
    </div>
    <div class="row">
        <h2>Matches found: @matchesFound</h2>
    </div>
    <div class="row">
        <h2>Time: @timeDisplay</h2>
    </div>
    <div class="row">
        <h2>Best Time: @bestTimeInSeconds.ToString("0.0s")</h2>
    </div>
</div>
<!-- If showPlayAgainPopup = true, then modal will be display -->
@if (showPlayAgainPopup)
{
    <div class="modal" tabindex="-1" role="dialog" style="display: block;">
        <div class="modal-content">
            <h2>Play Again?</h2>
            <button @onclick="@(async () => await PlayAgain(true))" class="btn btn-primary">Yes</button>
            <button @onclick="@(async () => await PlayAgain(false))" class="btn btn-secondary">No</button>
        </div>
    </div>
}

@code {
    // Availables animals emoji
    List<string> animalEmoji = new List<string>()
    {
        "🐶", // Dog
        "🐺", // Wolf
        "🐱", // Cat
        "🐭", // Mouse
        "🦊", // Fox
        "🐻", // Bear
        "🐯", // Tiger
        "🐰", // Rabbit
        "🐷", // Pig
        "🐮", // Cow
        "🐸", // Frog
        "🦁", // Lion
        "🐵", // Monkey
        "🐼", // Panda
        "🐨", // Koala
        "🦄", // Unicorn
    };

    List<string> shuffledAnimals = new List<string>();

    // Store found animals matches
    int matchesFound = 0;

    // Instantiate timer object global available
    Timer timer;

    // An integer to store elapsed time in tenths of a second
    int tenthsOfSecondsElapsed = 0;

    // An string to store elapsed time
    string timeDisplay;

    // Variable to store the best time achieved by the player
    float bestTimeInSeconds = float.MaxValue;

    // A boolean flag to control the visibility of the "Play Again" confirmation modal
    bool showPlayAgainPopup = false;

    // A boolean flag to control the visibility of the last game state modal
    bool showLastGameState = false;

    protected override void OnInitialized()
    {
        timer = new Timer(100);
        timer.Elapsed += Timer_Tick;
        SetUpGame().Wait(); // Wait for SetUpGame to finish initializing
    }

    private async Task SetUpGame()
    {
        // Randomly select animal emoji
        Random random = new Random();
        var uniqueAnimals = animalEmoji
            .OrderBy(item => random.Next())
            .Distinct()
            .Take(8)
            .ToList();

        var shuffledPairs = uniqueAnimals.SelectMany(animal => new[] { animal, animal }).ToList();

        // Push animals emoji pairs in the List
        shuffledAnimals = shuffledPairs
            .OrderBy(item => random.Next())
            .ToList();

        matchesFound = 0;
        tenthsOfSecondsElapsed = 0;
        timeDisplay = "0.0s";
        showPlayAgainPopup = false;
        showLastGameState = false;
    }

    // Main game logic

    string lastAnimalFound = string.Empty;
    string lastDescription = string.Empty;
    private async Task ButtonClick(string animal, string animalDescription)
    {
        // Player click first animal
        // Timer start
        if (lastAnimalFound == string.Empty)
        {
            lastAnimalFound = animal;
            lastDescription = animalDescription;
            timer.Start();
        }
        // Player clicks the second animal
        // Check if it matches the first animal
        else if ((lastAnimalFound == animal) && (animalDescription != lastDescription))
        {
            // If the second animal matches the first one
            // Clear the stored information about the first animal
            lastAnimalFound = string.Empty;

            // Remove the matched animals from the game board
            // by replacing them with an empty string
            shuffledAnimals = shuffledAnimals
                .Select(a => a.Replace(animal, string.Empty))
                .ToList();

            // Increment the number of matches found
            matchesFound++;

            // If all matches are found (8 matches in total)
            // When the player completes the game
            if (matchesFound == 8)
            {
                timer.Stop();
                if (tenthsOfSecondsElapsed / 10F < bestTimeInSeconds)
                {
                    bestTimeInSeconds = tenthsOfSecondsElapsed / 10F;
                }
                timeDisplay += $" - Best Time: {bestTimeInSeconds.ToString("0.0s")} - Play Again?";
                showPlayAgainPopup = true;
            }
        }

        // If the second animal doesn't match the first one
        else
        {
            // Clear the stored information about the first animal
            lastAnimalFound = string.Empty;
        }

        // Update the UI asynchronously to reflect the changes
        await InvokeAsync(StateHasChanged);
    }

    // This method is called each time the timer ticks
    private void Timer_Tick(Object source, ElapsedEventArgs e)
    {
        InvokeAsync(() =>
        {
            tenthsOfSecondsElapsed++;
            timeDisplay = (tenthsOfSecondsElapsed / 10F)
                .ToString("0.0s");
            StateHasChanged();
        });
    }

    private async Task PlayAgain(bool playAgain)
    {
        if (playAgain)
        {
            await SetUpGame();
        }
        else
        {
            showPlayAgainPopup = false;
        }
        //  Ntify the UI that the state has changed and needs to be re-rendered
        await InvokeAsync(StateHasChanged);
    }
}